.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout__header {
  display: flex;
  gap: 15px;
  padding: 15px;
  background-color: var(--cardBack);
}

.layout__header__searcherContainer {
  flex-grow: 1;
}

.layout__header__configButtonContainer {
  display: flex;
  align-items: center;
  background-color: var(--cardBack);
}

.layout__header__configButton {
  background-color: var(--btnBack);
  color: var(--btnText);
  padding: 10px;
  border-radius: 15px;
  border-width: 1px;
  border-color: transparent;
}

.layout__children {
  flex-grow: 1;
  background-color: var(--back);
}
