.summonerPreview {
  font-family: RobotoNormal;
  display: flex;
  align-items: center;
  background-color: var(--back);
  color:var(--text)
}

.summonerPreview__data {
  display: flex;
  flex-direction: column;
}
