.errorCard {
  font-family: RobotoNormal;
  padding: 15px;
  background-color: var(--back);
}

.errorCard__text {
  background-color: var(--cardBack);
  color: var(--cardText);
  text-align: center;
  border-radius: 15px;
  padding: 10px;
}

.errorCard__btn {
    background-color: var(--btnBack);
    color: var(--btnText);
    padding: 10px;
    border-radius: 15px;
    border-width: 1px;
    border-color: transparent;
}
