.welcome {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: RobotoNormal;
  background-color: var(--back);
  color: var(--text);
}

.welcome__title {
  text-align: center;
}

.welcome__desc {
  text-align: center;
  padding: 10px;
  background-color: var(--cardBack);
  color: var(--cardText);
  border-radius: 15px;
}

.welcome__desc--button {
  padding: 10px;
  border-radius: 15px;
  border: none;
  background-color: var(--btnBack);
  color: var(--btnText);
}

.welcome__desc--button:active {
  background-color: #086d6d;
}
