.summonerRank {
  font-family: RobotoNormal;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}

.summonerRank__queue {
  background-color: #f8f5f2;
  border-radius: 15px;
  padding: 15px;
}

.summonerRank__queue__info {
  padding: 10px;
  background-color: #fffffe;
  border-radius: 15px;
  flex-grow: 1;
}
