.navBar {
  display: flex;
  width: 100vw;
  overflow: auto;
  height: 50px;
  background-color: #f8f5f2;
  /* border-top: 1px solid #fffffe; */
  /* justify-content: center; */
}

.navBar__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 22%;
  border-right: 1px solid #fffffe;
}
