.tableContainer {
  overflow: auto;
  color:var(--text)
}

.table {
  font-family: RobotoNormal;
  width: 100%;
}

.thead {
  background-color: var(--btnBack);
  color: var(--btnText);
}

.tr:nth-child(odd) {
  background-color: var(--back);
  color: var(--text);
}
.tr:nth-child(even) {
  background-color: var(--cardBack);
  color: var(--cardText);
}
